*{
  background-color: brown;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 90%;
  line-height: 3.0;
  align-content: center;
  width: 97%;
}
body{
  font-family: Arial;
  overflow: auto;
  height: auto;
  padding: 10px;
  align-content: center;
  text-align: center;
}
h1{
  text-transform: uppercase;
  font-size: medium;
  color: antiquewhite;
}
h2{
  text-transform: capitalize;
  font-size: small;
  color: burlywood;
  margin: 25px;
}
p{
  width: 230;
  float: left;
  margin: 5px;
  padding: 5px;
  background-color: antiquewhite;
}
ul li{
  margin-left: 20px;
  color: rgb(34, 29, 29);
  list-style-type: disc;
  list-style-position: inside;
  padding: 25px;
  text-shadow: black;
  display: list-item;
  text-align: center;
}
ol li{
  margin-left: 20px;
  color: rgb(34, 29, 29);
  list-style-type: lower-roman;
  list-style-position: inside;
  padding: 25px;
  text-shadow: black;
  display: list-item;
  text-align: center;
}


